<section class="combat-tracker totc-combat-tracker">
    <header class="combat-tracker-header">
        <h3>{{localize "COMBAT.Combat"}}</h3>
        {{#if totcEncounter.controlsVisible}}
            <div class="totc-combat-controls">
                <button type="button" data-action="totc-init-round">{{localize "TOTC.Encounter.InitializeRound"}}</button>
                {{#unless totcEncounter.initiativeReady}}
                    <button type="button" data-action="totc-roll-all-initiative">{{localize "TOTC.Encounter.RollAllInitiative"}}</button>
                {{/unless}}
            </div>
        {{/if}}
    </header>

    {{#if totcEncounter.active}}
        <div class="totc-encounter-banner">
            <span>{{localize "TOTC.Encounter.Phase"}}: {{totcEncounter.phase}}</span>
            <span>{{localize "TOTC.Encounter.ApBudget"}}: {{totcEncounter.apBudget}}</span>
            <span>{{localize "TOTC.Encounter.PlanningElapsed"}}: {{totcEncounter.planningElapsedSeconds}}s</span>
            <span>{{localize "TOTC.Encounter.PlanningRemaining"}}: {{totcEncounter.planningRemainingSeconds}}s</span>
        </div>
        {{#if totcEncounter.planningWarningActive}}
            <div class="totc-encounter-warning">{{localize "TOTC.Encounter.PlanningWarning"}}</div>
        {{/if}}
        {{#unless totcEncounter.initiativeReady}}
            <div class="totc-encounter-warning">{{localize "TOTC.Encounter.InitiativeRequired"}}</div>
        {{/unless}}
    {{else}}
        <div class="totc-encounter-banner">{{localize "TOTC.Encounter.NotInitialized"}}</div>
    {{/if}}

    <ol id="combat-tracker" class="directory-list">
        {{#each turns as |turn|}}
            <li class="combatant totc-encounter-row {{#if turn.active}}active{{/if}}" data-combatant-id="{{turn.id}}">
                <img class="token-image" src="{{turn.img}}" alt="{{turn.name}}" />
                <div class="token-name">
                    <h4>{{turn.name}}</h4>
                    <div class="totc-encounter-meta">
                        <span>{{localize "TOTC.Encounter.Initiative"}}: {{#if turn.encounter.missingInitiative}}-{{else}}{{turn.initiative}}{{/if}}</span>
                        <span>{{localize "TOTC.Encounter.SpentAp"}}: {{turn.encounter.spentAp}}</span>
                        <span>{{localize "TOTC.Encounter.RemainingAp"}}: {{turn.encounter.remainingAp}}</span>
                    </div>
                </div>

                {{#if turn.encounter.missingInitiative}}
                    {{#if turn.encounter.canRollInitiative}}
                        <button type="button" data-action="totc-roll-initiative" data-combatant-id="{{turn.id}}">{{localize "TOTC.Encounter.RollInitiative"}}</button>
                    {{/if}}
                {{/if}}

            </li>
        {{/each}}
    </ol>
</section>
